.search-container {
  position: fixed;
  top: 0.1rem;
  left: 4.1rem;
  width: 22rem;
  z-index: 10;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #ffff;
  box-shadow: 3px 0 10px -5px rgba(0, 0, 0, 0.3);

  .search-header {
    border-bottom: 1px solid lightgray;
    padding-bottom: 25px;
    .search-heading {
      margin: 35px 20px;
      font-weight: 500;
    }
    .search-input {
      background-color: #f5f5f5;
      border: none;
      width: 90%;
      margin: 0px 5%;
      height: 3rem;
      border-radius: 10px;
      padding: 0px 0px 0px 8px;

      &:focus {
        outline: none;
      }
    }
  }
  .search-results {
    height: 36rem;
    overflow: auto;

    &.hide{
      visibility: hidden;
    }
    .result {
      display: flex;
      align-items: center;
      padding: 10px;
      gap: 10px;
      cursor: pointer;
      img {
        height: 35px;
        width: 35px;
        border-radius: 50%;
        object-fit: cover;
      }
      span {
        font-size: 15px;
      }
    }
  }
}
